# ========================== 

 

# Environment Variables 

 

# ========================== 

 

.env 

 

 

 

# ========================== 

 

# Python 

 

# ========================== 

 

venv/ 

 

__pycache__/ 

 

*.pyc 

 

*.pyo 

 

*.pyd 

 

 

 

# ========================== 

 

# React / Vite 

 

# ========================== 

 

frontend/node_modules/ 

 

frontend/dist/ 

 

 

 

# ========================== 

 

# Temporary Files 

 

# ========================== 

 

temp.pdf 

 

*.log 

 

 

 

# ========================== 

 

# VS Code 

 

# ========================== 

 

.vscode/ 

 

 

 

# ========================== 

 

# OS Files 

 

# ========================== 

 

.DS_Store 

 

Thumbs.db